<header [class.mobile]="isMobile">
    <div class="logo-container">
        <a class="brand" routerLink="/">
            <img class="logo" src="assets/logos/new-logo.svg" alt="Reali, Inc."/>
        </a>

        <div *ngIf="isMobile">
            <img class="carret-down"
                 (click)="onClickToggleMobileNav()"
                 [src]="isMobileNav ? 'assets/icons/carret-up.svg' : 'assets/icons/carret-down.svg'"
                 alt=""/>
        </div>
    </div>

    <reali-header-nav *ngIf="!isMobile"></reali-header-nav>
</header>
