@import '~@angular/material/theming';

$reali-red: (
    50 : #fee0e0,
    100 : #fcb3b3,
    200 : #fa8080,
    300 : #f84d4d,
    400 : #f72626,
    500 : #f50000,
    600 : #f40000,
    700 : #d40000,
    800 : #f00000,
    900 : #ee0000,
    A100 : #ffffff,
    A200 : #ffe1e1,
    A400 : #fee9e6,
    A700 : #ff9595,
    A800 : #d20000,
    A900 : #cb655e,
    G300 : #78b678,
    G400 : #75b373,
    G500 : #11975b,
    G600 : #6abf44,
    Y400 : #f7b560,
    Y500 : #fa741f,
    Y600: #f29b38,
    contrast: (
        50 : #f8f8f8,
        100 : #59595B,
        200 : #78787A,
        300 : #e1e1e1,
        400 : #e5e5e5,
        500 : #F7f7f7,
        600 : #9b9b9b,
        700 : #f6f7f8,
        800 : #4a4a4a,
        900 : #ffffff,
        A100 : #59595B,
        A200 : #59595B,
        A400 : #78787A,
        A700 : #78787A,
        A800 : #dfdfdf,
    )
);
