@import '~@angular/material/theming';

$reali-red: (
    50 : #ffffff,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #2e8dab,
    700 : #d40000,
    800 : #d40000,
    900 : #d40000,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    A800 : #ffffff,
    A900 : #ffffff,
    G300 : #11975b,
    G400 : #11975b,
    G500 : #11975b,
    G600 : #11975b,
    Y400 : #fa741f,
    Y500 : #fa741f,
    Y600: #fa741f,
    contrast: (
        50 : #f8f8f8,
        100 : #59595B,
        200 : #78787A,
        300 : #e1e1e1,
        400 : #e5e5e5,
        500 : #F7f7f7,
        600 : #9b9b9b,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #59595B,
        A200 : #59595B,
        A400 : #78787A,
        A700 : #78787A,
        A800 : #dfdfdf,
    )
);
