@import 'src/styles/material/palette';

:host {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 75px);
    background-color: mat-color($reali-red, 50);
    top: calc(-100vh + 75px);
    left: 0;
    transition: 0.3s top linear;

    &.opened {
        top: 75px;
    }
}

nav {
    padding-left: 20px;

    ul.links-list {
        padding-top: 25px;

        li.link-item {
            padding: 22.5px 0;

            a.link {
                font-size: 18px;
                font-weight: 600;
                color: mat-contrast($reali-red, 600);
                position: relative;
                line-height: 1.8em;
                display: inline-block;

                &.active {
                    color: mat-color($reali-red, 700);

                    &:after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        border-radius: 2px;
                        width: 100%;
                        background-color: mat-color($reali-red, 700);;
                    }
                }
            }
        }
    }

    .sign-in-btn {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: mat-color($reali-red, 700);
        cursor: pointer;
        padding: 22.5px 0;
    }
}
