@import 'src/styles/material/palette';

:host {
    font-family: 'futura-pt', sans-serif;
    height: 100%;
}

nav.header-nav {
    display: flex;
    align-items: center;
    height: 100%;

    ul.links-list {
        display: flex;
        height: 100%;

        li.link-item {
            margin-right: 45px;

            a.link {
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                color: mat-contrast($reali-red, 600);
                position: relative;
                line-height: 76px;
                display: inline-block;

                &.active {
                    color: mat-color($reali-red, 700);

                    &:after {
                        content: '';
                        position: absolute;
                        height: 4px;
                        bottom: 0;
                        left: 0;
                        border-radius: 2px;
                        width: 100%;
                        background-color: mat-color($reali-red, 700);;
                    }
                }
            }
        }
    }

    .sign-in-btn {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: mat-color($reali-red, 700);
        margin-left: 39px;
        cursor: pointer;
    }

    .separator {
        width: 1px;
        height: 45px;
        background-color: mat-contrast($reali-red, 300);
    }
}


