<!--Header-->
<reali-header (toggleMobileNav)="onToggleMobileNav()"
              [isMobile]="isMobile"
              [isMobileNav]="isMobileNav"></reali-header>

<!--Desktop layout-->
<mat-sidenav-container class="desktop-container"
                       *ngIf="!isMobile">
    <mat-sidenav #sidenav mode="side"
                 opened
                 class="example-sidenav">
        <!--Desktop sidenav-->
        <reali-sidenav></reali-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <h3>ROUTER_OUTLET DESKTOP</h3>
            <!--<router-outlet></router-outlet>-->
            <button mat-raised-button
                    (click)="sidenav.toggle()">Toggle sidenav
            </button>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>

<!--Mobile layout-->
<div *ngIf="isMobile">
    <main>
        <h3>ROUTER_OUTLET MOBILE</h3>
        <!--<router-outlet></router-outlet>-->
    </main>

    <!--Mobile sidenav overlay-->
    <reali-mobile-nav class="mobile-nav"
                      [class.opened]="isMobileNav"></reali-mobile-nav>
</div>

<!--Footer-->
<reali-footer></reali-footer>


